Cython==0.29.36
cython_bbox==0.1.5
mmcv==2.1.0
mmdet==3.2.0
mmengine==0.10.6
#mmpose==1.3.2
pycocotools==2.0.8
xtcocotools==1.14.3
mmcv-full==1.7.2
numpy==1.26.3
pyyaml==6.0.2
pandas==2.3.0
seaborn==0.13.2
openpyxl==3.1.5
plotly==6.3.0
pydantic==2.5.0
#python3 -m pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu121
opencv-python==4.11.0.86
opencv-contrib-python==4.9.0.80
matplotlib==3.10.6
scipy==1.15.3
h5py==3.14.0
Pillow==11.3.0
tqdm==4.67.1
chumpy==0.70
json-tricks==3.17.3
filterpy==1.4.5
pykalman==0.10.1
munkres==1.1.4
terminaltables==3.1.10
memory-profiler==0.61.0
huggingface-hub==0.34.4